/**
 * Site Selector styling
 * =================================
 * Site Selector Module
 *
 * Switches countries of sites
 *
 */


/**
 * Component Variables
 */
$countrySelector-textColor: $color-text !default;
$countrySelector-chevronColor: $grey--dark !default;
$countrySelector-crossColor: $blue !default;
$countrySelector-bgColor: $grey--offWhite !default;
$countrySelector-borderColor: $color-border !default;


/**
 * Base Component styles
 */
.c-countrySelector {
    position: relative;
}

    .c-countrySelector-link {
        align-items: center;
        color: $countrySelector-textColor;
        display: flex;
        position: relative;
        text-decoration: none;

        p {
            margin: 0 0 0 spacing();
        }
    }

        .c-countrySelector-link--selected {
            font-weight: $font-weight-bold;
        }

    .c-countrySelector-flag {
        height: 16px;
        width: 24px;
    }

    .c-countrySelector-chevron {
        height: 6px;
        margin-left: spacing();
        width: 14px;
        fill: $countrySelector-chevronColor;
    }

    .c-countrySelector-cross {
        fill: $countrySelector-crossColor;
        height: 8px;
        margin-left: auto;
        width: 8px;
    }

    .c-countrySelector-list {
        @extend %u-unstyled;
        background-color: $countrySelector-bgColor;
        box-shadow: 0 2px 28px rgba(51, 51, 51, 0.08);
        list-style: none;
        min-width: 190px;
        padding: spacing(x2);
        position: absolute;
        left: -#{spacing(x2)};
        bottom: -#{spacing(x2)};
        z-index: zIndex(high);

        li {
            margin-bottom: spacing(x2);

            &:last-child {
                border-top: solid 1px $countrySelector-borderColor;
                margin: -#{spacing()} -#{spacing(x2)} 0;
                padding: spacing() spacing(x2) 0;
            }
        }
    }
