<div class="g-col g-span8 c-footer-cards">
    <ul class="c-footer-list c-footer-list--inline">
        {{#each paymentIcons }}
            <li> {{!-- missing 'certificate' logic --}}
                <img class="c-footer-icon c-footer-icon--{{ type }} c-icon--{{ key }}" src="{{ iconSrc }}" alt="{{ altText }}" />
            </li>
        {{/each}}
    </ul>
</div>
